# This workflow runs edgetest on datacompy @ 17:30 UTC Fridays.
# https://github.com/edgetest-dev/run-edgetest-action

name: Run edgetest
on:
  schedule:
    - cron: '30 17 * * 5'
  workflow_dispatch:  # allows manual dispatch
jobs:
  edgetest:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    name: running edgetest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Set up Python 3.11
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.11'
          channels: conda-forge

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Install edgetest
        shell: bash -el {0}
        run: |
          conda install pip
          conda install edgetest edgetest-conda
          python -m pip install ."[spark, qa, tests, tests-spark]"

      - name: Run edgetest
        shell: bash -el {0}
        run: |
          edgetest -c pyproject.toml --export

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: edgetest-patch
          base: ${{ github.ref_name }}
          delete-branch: true
          title: Changes by run-edgetest action
          commit-message: '[edgetest] automated change'
          body: Automated changes by [run-edgetest-action](https://github.com/edgetest-dev/run-edgetest-action) GitHub action
          add-paths: |
            pyproject.toml
