# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test package

on:
  push:
    branches: [develop, main, "release/*", "release-*"]
  pull_request:
    branches: [develop, main, "release/*", "release-*"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: python -m pip install .[qa]
      - name: Linting by ruff
        run: ruff check
      - name: Formatting by ruff
        run: ruff format --check

  test-with-spark-install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        spark-version: [4.0.1]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      SPARK_VERSION: ${{ matrix.spark-version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "adopt"
      - name: Install pyspark
        run: |
          python -m pip install pyspark[connect]==${{ matrix.spark-version }}
      - name: Install datacompy
        run: |
          python -m pip install ."[spark, qa, tests, tests-spark]"
      - name: Test with pytest
        run: |
          python -m pytest --cov=datacompy --cov-report=xml --cov-report=term-missing

  test-basic-install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install datacompy
        run: |
          python -m pip install ."[tests, qa]"
      - name: Test with pytest
        run: |
          python -m pytest --cov=datacompy --cov-report=xml --cov-report=term-missing
